@keyframes first-loader {
    5% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes second-loader {
    5% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-40%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.first-load {
    animation: first-loader 5s ease-out;
    animation-delay: 3s;
}

.second-load {
    animation: second-loader 5s ease-out;
    animation-delay: 3s;
}