.hover_animation {
    background-image: linear-gradient(to right,
            #A6BCFA,
            #A6BCFA 50%,
            #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.hover_animation:before {
    content: '';
    background: #A6BCFA;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.hover_animation:hover {
    background-position: 0;

}

.hover_animation:hover::before {
    width: 100%;
}

.anticon-close svg{
    color: #A6BCFA;
}