@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    /* font-family: 'Times New Roman', Times, serif; */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body::-webkit-scrollbar-track
{
	border-radius: 5xp;
	background-color: #222222;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #222222;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #A6BCFA;
}
